*{
    margin: 0px;
    padding: 0px;
}
.banner{
    text-align: center;
    width: 100%;
}
.banner img{
    width: 100%;
}
.banner h1{
    background-color: rgb(37, 64, 86) ;
    color: white;
    padding: 1%;
    font-size: 40px;
}
.main{
    padding: 8% 15%;
}
.missing-puppy{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    

}
.missing-puppy div{
    background-color: crimson;
    display: block;
    font-size: 60px;
    text-align: center;
    padding: 4%;
    flex: 1;
}
.img1{
  display: block;
  flex: 1;
}
.img2{
 display: block;
 flex: 1;
 
}
.more-puppy-img{
    display: flex;
    justify-content: space-between;
    gap: 10%;
}
.more-puppy h2{
    text-align: center;
    font-size: 50px;
    padding: 3%;
}
.img3{
    display: block;
    flex:1;
}
.img4{
    display: block;
    flex: 1;
}
.footer{
   background-color: rgb(37, 64, 86) ;
   padding:5%;
   text-align: center;
   font-size: 40px;
   color: aliceblue;
}